# Copy file ini jadi ".env" (jangan commit .env ke git), lalu isi 3 value di bawah.

# OAuth Client ID dari Google Cloud Console (APIs & Services > Credentials)
# Bentuknya: xxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.apps.googleusercontent.com
VITE_GOOGLE_CLIENT_ID=

# ID folder Google Drive "Checksheet" (berisi 10 folder kategori bangunan)
# Ambil dari URL folder: https://drive.google.com/drive/folders/<ID_INI>
VITE_ROOT_CHECKSHEET_FOLDER_ID=

# ID folder Google Drive "Instrumen"
VITE_ROOT_INSTRUMEN_FOLDER_ID=
